<div id="mc_signup">
    <form method="post" action="#mc_signup" id="mc_signup_form">
        <div class="updated" id="mc_message"></div>
        <input type="hidden" id="mc_submit_type" name="mc_submit_type" value="js">
        <input type="hidden" name="mcsf_action" value="mc_submit_signup_form">
        <input type="hidden" id="_mc_submit_signup_form_nonce" name="_mc_submit_signup_form_nonce" value="7b77af9097">
        <label for="mc_mv_EMAIL" class="mc_var_label mc_header mc_header_email"></label>
        <input type="text" size="18" placeholder="" name="mc_mv_EMAIL" id="mc_mv_EMAIL" class="mc_input" />
        <input type="submit" name="mc_signup_submit" id="mc_signup_submit" value="Join" class="button" />
    </form>
</div>
